/* =========================================================
   GLOBAL RESET
========================================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================================================
   BODY
========================================================= */

body {
    font-family: "Times New Roman", Times, serif;
    color: #111827;
    background-color: #EEF1F4;
    background-image: url("../images/DS_webbg.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* =========================================================
   GLOBAL HEADINGS / NAVIGATION FONT
========================================================= */

h1,
h2,
h3,
h4,
.logo,
.nav-links a {
    font-family: "Cinzel", serif;
}


/* =========================================================
   HEADER / FLOATING NAVIGATION
========================================================= */

header {
    width: 100%;

    background: transparent;

    position: relative;
    z-index: 1000;

    padding: 20px;
}