.featured {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    /* Background */
    background-color: #EEF1F4;
    background-image: url("../../images/index/index_featured.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Text color */
    color: #ffffff;

    /* Start outside the screen on the LEFT */
    transform: translate3d(-100%, 0, 0);

    /* Layer above main */
    z-index: 20;

    /* Prevent horizontal overflow */
    overflow: hidden;

    /* Performance optimization */
    will-change: transform;
}

.featured-content {
    padding: 8vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-number {
    font-size: 14px;
    margin-bottom: 30px;
    opacity: 0.6;
}

.featured h2 {
    font-size: clamp(70px, 10vw, 180px);
    line-height: 0.8;
    letter-spacing: -0.06em;
}

.featured-description {
    margin-top: 40px;
    max-width: 400px;

    font-size: 18px;
    line-height: 1.5;

    opacity: 0.7;
}

.project-list {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    gap: 30px;

    padding: 25px 0;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.project span {
    opacity: 0.5;
}

.project h3 {
    font-size: 28px;
}

.project p {
    margin-top: 8px;
    opacity: 0.5;
}